# Environment data
.venv/

# Output
output/
!output/.gitkeep

# IDE directories
.ipynb_checkpoints
.ropeproject
.idea
.spyproject

# Compiled python modules
__pycache__

# Temp data
junk*
old/
temp/

# Data files
data/

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.~lock*

papers/
