# Environment data
venv/
.env

# Output
output/
!output/.gitkeep

# IDE directories
.ipynb_checkpoints
.ropeproject
.idea
.spyproject

# Compiled python modules
__pycache__

# Temp data
junk*
old/
temp/

# Data files
data/raw/
!data/raw/.gitkeep
data/external/
!data/external/.gitkeep
data/interim/
!data/interim/.gitkeep
data/processed/
!data/processed/.gitkeep
data/secrets/
!data/secrets/.gitkeep

# Julia code
julia/
*.toml

dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
