# Environment data
venv/
.env

# Output
output/
!output/.gitkeep

# IDE directories
.ipynb_checkpoints
.ropeproject
.idea
.spyproject

# Compiled python modules
__pycache__

# Temp data
junk*
old/
temp/

# Data files
data/external/
!data/external/.gitkeep
data/interim/
!data/interim/.gitkeep
data/processed/
!data/processed/.gitkeep
data/raw/
!data/raw/.gitkeep
data/secrets/
!data/secrets/.gitkeep

# Julia code
julia/
*.toml
