cachetools==2.1.0
certifi==2018.4.16
chardet==3.0.4
dropbox==8.9.0
et-xmlfile==1.0.1
google-api-python-client==1.7.3
google-auth==1.5.0
google-auth-httplib2==0.0.3
httplib2==0.11.3
idna==2.6
jdcal==1.4
Jinja2==2.10
MarkupSafe==1.0
numpy==1.14.4
oauth2client==4.1.2
openpyxl==2.5.4
pandas==0.23.0
Pillow==5.1.0
pyasn1==0.4.3
pyasn1-modules==0.2.1
python-dateutil==2.7.3
python-dotenv==0.8.2
pytz==2018.4
requests==2.18.4
rsa==3.4.2
six==1.11.0
uritemplate==3.0.0
urllib3==1.22
zbarlight==2.1
