body {
  margin: 2em 2em 5em 2em;
}

h1 span {
  font-size: 20px;
  float: right;
  margin-right: 12px;
}

section {
  margin-top: 5em;
}

section.plates table {
  margin-top: 5em;
}

section.plates table:first-of-type {
  margin-top: 0;
}

.header,
.sub-header {
  font-weight: bold;
  background-color: #eeeeee;
}

td {
  text-align: center;
  padding: 4px 8px;
}

td.l {
  text-align: left;
}

td.r {
  text-align: right;
}

.sub-header td.empty {
  background-color: #ffffff;
}

h2 > button {
  margin-right: 1em;
}

h2 > button:before,
.families tr button:before {
  content: '-';
}

h2 > button.closed:before,
.families tr.closed button:before {
  content: '+';
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

table,
.families tr.genus {
  animation: fadein 1s;
}

table.closed,
.families tr.closed.genus {
  display: none;
}
